.Members-Main {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1.5fr 1.5fr 0.5fr;
    grid-template-areas:
        "Members-Navbar"
        "Members-Container-Header"
        "Members-Container-Cards"
        "Members-Footer";
}

.Members-Navbar {
    grid-area: Members-Navbar;
}

.Members-Container-Header {
    grid-area: Members-Container-Header;
    display: flex;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 20px;
    border-bottom: 2px solid #ccc;
}

.Members-Container-Header h1 {
    font-family: 'Newsreader';
    font-weight: normal;
    font-size: 64px;
    margin-right: 45%;
}

.ComboBoxContainer {
    display: flex;
    align-items: center;
}

.ComboBoxContainer label {
    margin-right: 10px;
}

.ComboBoxContainer select {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background: #568D23;
    border-radius: 15px;
    padding: 10px;
    transition: transform 0.3s ease-in-out;
}

.Members-Container-Cards {
    grid-area: Members-Container-Cards;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center; /* Ajusta alineación horizontal al centro */
    margin: 20px;
}

@media (min-width: 768px) {
    .Members-Container-Cards {
        grid-template-columns: repeat(3, 1fr); /* Mostrar 3 columnas en pantallas más grandes */
    }
}


.Member-Container {
    background: rgb(2, 30, 3);
    color: #fff;
    font-weight: 600;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    flex-grow: 1;
    margin: 10px; /* Ajusta el margen según tus preferencias */
    box-sizing: border-box; /* Asegúrate de que el margen no afecte el ancho total */
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s;
}

.Member-Container:hover {
    transform: scale(1.05);
}

.Members-Footer {
    grid-area: Members-Footer;
}