.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.datos{
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.datos input{
    width: 300px;
    height: 50px;
    font-size: 20px;
    padding-left: 10px;
    border-radius: 5px;
    margin: 5px;
}

.datos button{
    width: 320px;
    height: 50px;
    margin-top: 5px;
    border-radius: 5px;
    background-color: rgb(35, 181, 60);
}

.cerrar-btn {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: #333; /* color de la X */
  }
  
  .cerrar-btn:hover {
    color: white; /* color de la X al pasar el mouse sobre ella */
    background-color: red;
  }
  